.Ui {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family:'Times New Roman', Times, serif
}
.cla {
  height:100vh;
  width: 20%;
  flex-direction: column;
}
.cla h2{
  background-color:cadetblue;
  margin-top: 0;
  font-size: 40px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  height:fit-content;
}
.button-box button{
  width : 100%;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 40px;
  padding-top:10px;
  padding-bottom: 10px;
  justify-content: center;
  border: none;
  background-color: white;
  border-radius: 8px;
}
.button-box button:hover {
  background-color: rgb(58, 58, 70);
  z-index: 1;
  box-shadow: #000 0px 0px 20px;
  cursor: pointer;
}

.plot {
  height:100vh;
  width: 80%;
  font-size:small;
  border-left: 2px solid rgb(129, 152, 158);
}
.plot-g h3{
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
  font-size: 40px;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(146, 122, 114);
}
.checkbox{
  background-color: #e0dada;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  padding: 10px;
  
}


.button-box .active {
  background-color: #4caf50;
  color: white;
}
.plot-container {
  width: 80%; /* Adjust width */
  height: 800px; /* Adjust height */
  margin-top: 100px;
  margin-left:150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; 
  background-color: #f4f4f4; 
}

.Plotly {
  width: 100% !important;
  height: 100% !important;
}
